


<div class="container">
    
    <div class="card">
        <div class="card-header"> <h2>Presentacion</h2> </div>
        <div class="card-body">
            <p>Antoni Guerra</p>
            <p>Desarrollador de sofware de .Net</p>
           
        </div>
        <div class="card-footer"></div>
    </div>
</div>