


<div class="container">
    
    <div class="card">
        <div class="card-header"> <h2>Presentacion</h2> </div>
        <div class="card-body">
            <p>Diogenes Monegro Mejias</p>
            <p>Desarrollador de sofware de .Net</p>
            <p>Administrador de base datos Sql Server</p>
            <p>Programador de algoritmos de IA</p>
        </div>
        <div class="card-footer"></div>
    </div>
</div>