
<div class="jumbotron bg-dark text-center text-white" >

    <h2>Conversor</h2>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="form-group col-md-8">
            <input required type="number" id="campo" class="form-control" />
            <p id="xxx"></p>
        </div>
    </div>
        <div class="row justify-content-center ">
            <div class="form-group col-md-8">
                <button class="btn btn-dark form-control" onclick="CalcularC()">Farenheit a Celsius</button>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="form-group col-md-8">
                <button class="btn btn-dark form-control" onclick="CalcularF()">Celsius a Farenheit</button>
            </div>
        </div>
</div>