<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Servicios</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script language="javascript" type="text/javascript">

        function CalcularF()
        {
           var x;
           x = document.getElementById("campo").value * 9 / 5 + 32;
           document.getElementById("xxx").innerHTML = "Celsius a Farenheit: " + Math.round(x);
        }

        function CalcularC() {
            var x
            x = (document.getElementById("campo").value - 32) * 5 / 9;;
            document.getElementById("xxx").innerHTML = "Farenheit a Celsius: "+Math.round(x);
        }


        function Sumar() {
            var x, y;
            x = document.getElementById("c1").value;
            y = document.getElementById("c2").value;
            if (x >= 0 && y >= 0 && !isNaN(x) && !isNaN(y)) {
                document.getElementById("solu").innerHTML = parseInt(x) + parseInt(y);
            }
            else
            {
                alert("Los campos debe estar llenos");
            }
          
        }

        function Restar() {
            var x, y;
            x = document.getElementById("c1").value;
            y = document.getElementById("c2").value;
            if (x >= 0 && y >= 0 && !isNaN(x) && !isNaN(y)) {
                document.getElementById("solu").innerHTML = parseInt(x) - parseInt(y);
            }
            else
            {
                alert("Los campos debe estar llenos");
            }
        }

        function Multiplicar() {
            var x, y;
            x = document.getElementById("c1").value;
            y = document.getElementById("c2").value;
            if (x >= 0 && y >= 0 && !isNaN(x) && !isNaN(y)) {
                document.getElementById("solu").innerHTML = parseInt(x) * parseInt(y);
            }
            else
            {
                alert("Los campos debe estar llenos");
            }
        }

        function Dividir() {
            var x, y;
            x = document.getElementById("c1").value;
            y = document.getElementById("c2").value;
            if (x >= 0 && y >= 0 && !isNaN(x) && !isNaN(y)) {
                document.getElementById("solu").innerHTML = parseInt(x) / parseInt(y);
            }
            else
            {
                alert("Los campos debe estar llenos");
            }
        }


       

    </script>
</head>
<body>

    @RenderBody()
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>